table.agro-source {
	display:none;
	font-size:0.25em;
}

.id1 {
	display:none;
}

.agro h2,h3,h4,p {
	margin:0;
}

.agro td ul {
	list-style: none;
	margin:0 0 0.5em;
	padding:0;	
	font-style:italic;
}
.agro td > ul {
	font-size:0.75em;	
	margin:0.5em 0 0;
}

.agro td > ul.rollup > li {
	font-style:normal;
}

table.agro {
	border-collapse: collapse;
	margin:2em 0;
}

.agro caption {
	padding:0 0 6px;
}

.agro td {
	padding:4px 10px;
}

.agro th {
	padding: 0 10px;
	position:relative;
}

.agro td em,
.agro th em {
	display:block;
	text-transform: none;
}

.agro td h4,
.agro th h4 {
	color:rgba(0,0,0,0.4);
	font-weight:normal;
	text-transform: uppercase;
	font-size:0.75em;
	font-family: sans-serif;
	cursor:move;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	user-select:none;
	-webkit-user-select:none;
}

.agro th h4 {
	padding:4px 16px 4px 0;
	position:relative;
}

.agro td h4:hover,
.agro th h4:hover {
	background-color:rgba(0, 160, 209, 0.25);
	color:black;
}

.agro td {
	border:1px solid #bbb;
}


.agro th > h4.drop-into-hover {
	background-color:red;
}

.agro th > div.drop-edge-hover {
	background:purple;
}

.agro th > div {
	position:absolute;
	top:0;
	right:-10px;
	bottom:0;
	width:20px;
}

.agro th h4 span {
	display:block;
	position:absolute;
	padding:3px 0 5px;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	width:16px;
	color:transparent;
	cursor:pointer;
}

.agro th h4:hover span {
	color:red;
}

.agro th h4 span:hover {
	color:white;
	background-color:red;
}

.agro caption select {
	float:right;
	
}

.agro .inactive {
	pointer-events: none;
	visibility:hidden;
}

